.intro-msg{
	position: absolute;
	font-size: 1.8vw;
    margin: 0;
    font-family: "Courier New";
  	top: 42%;
  	left: 2%;
  	line-height: 1.2;
}
@media screen and (min-width: 1500px) {
  .intro-msg {
	position: absolute;
	font-size: 28px;
	margin: 0;
	font-family: "Courier New";
	top: 42%;
	left: 2%;
	line-height: 1.2;
  }
}
.home-img{
	position: relative;
}
.home-segment{
	overflow: hidden !important;
	padding: 0px !important;
}
.var-highlight{
    color: #C0AD60;
}
.string-highlight{
    color: rgba(253, 149, 90, 0.8);
}

.footer{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.copyright{
	float:right;
	opacity:0.5;
	font-size:11px;
}
.portfolio-header{
	margin-bottom: 1.5rem !important;
}
.card-desc{
	margin-top:10px !important;
}
.card-img{
	height:15rem !important;
}
.modal-card{
	display: flex !important;
}
.modal-container{
	margin: 1rem auto !important;
	overflow: auto;
}
.modal-desc{
	width: 50% !important;
}

.ant-carousel{
	position:relative;
	top:1rem;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #ffff;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: rgba(0,0,0,.85);
}

.ant-carousel .slick-dots li button{
	background: rgba(128,128,128,.85);
}

.ant-carousel .slick-dots li.slick-active button{
	background: rgba(0,0,0,.85);
}

.quote-text{
	width:90% !important;
	position:relative;
	top:2rem;
}
.quote-author{
	width:100% !important;
	text-align:right;
	margin-left:auto;
	margin-right:0;
}